#  Local .terraform directories
**/.terraform/*
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Terraform Lock file
.terraform.lock.hcl

# CheckOv pre-commit external modules path
**/.external_modules/*
